@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ece3e32d;
}
.form_content{
    background-color: white;
    border-radius: 7px;
    max-width: 390px;
    max-height: 430px;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
}
header{
    font-size: 30px;
    font-weight: 600;
    color: black;
    text-align:center;
}
form{
    margin-top: 30px;
}
.field{
    margin-top: 20px;
    height: 45px;
    width: 100%;
    height: 100%;
}
.field input{
    height:100%;
    width:100%;
    padding: 7px 15px;
    border: 1px solid rgba(26, 24, 24, 0.404);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 300;
}
.link{
    margin-top: 9px;
    text-align: center;
}
.link a:link{
    text-decoration: none;
    color: rgb(90, 90, 238);
}
.link a:hover{
    color: rgb(1, 1, 201);
}
.field button{
    background-color: rgb(165, 247, 247);
    height: 100%;
    width: 100%;
    border: none;
    padding: 9px;
    border-radius: 6px;
    transition: 0.7s;
}
.field button:hover{
    background-color:  rgb(60, 202, 202);
}
